async-generator==1.10
attrs==21.2.0
beautifulsoup4==4.8.0
certifi==2019.9.11
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
cryptography==3.4.8
h11==0.12.0
idna==2.8
lxml==4.6.3
outcome==1.1.0
pycparser==2.20
pyOpenSSL==20.0.1
python-dateutil==2.8.0
requests==2.26.0
selenium==4.0.0b4
six==1.12.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==1.9.3
trio==0.19.0
trio-websocket==0.9.2
undetected-chromedriver==3.0.3
urllib3==1.26.6
websockets==9.1
wsproto==1.0.0
